*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #181a1b;
    color: white;
    font-family: sans-serif;
    font-size: 24px;
}

.container{
    padding: 12px;
    background-color: blue;
}






