@import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&family=Open+Sans:wght@500;700&family=Overpass:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Bungee Spice', cursive, sans-serif;
    background-color: #1D3557;
    color: #CAD2C5;
}

.container{
    padding: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}

.header{
    text-align: center;
    font-size: 18px;
}

h1{
    font-size: 48px;
    margin: 16px;
}

.header p{
    font-style: italic;
}

.controls{
    margin: 20px;
}

.items{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.buttons{
    display: flex;
    justify-content: end;
}

button{
    font-size: 16px;
    padding: 3px;
    border-radius: 5px;
    margin: 8px 4px 0;
    font-weight: 600;
}

input[type='text']{
    border-radius: 8px;
    font-size: 18px;
    margin-left: 8px;
    padding: 4px;
}

.sketch{
    display: grid;
    grid-template-columns: repeat(16, 32px);
    grid-auto-rows: 32px;
    border: 2mm ridge rgba(50, 220, 212, 0.6);
    padding: 10px;
    overflow:hidden;
}

a{
    text-decoration: none;
}

.footer{

}



