*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
}

.container{
    padding: 12px;
}

.sketch{
    display: grid;
    grid-template-columns: repeat(16, 32px);
    grid-auto-rows: 32px;
    border: 2mm ridge rgba(78, 220, 50, 0.6);
    padding: 10px;
    overflow:hidden;
}







